/**************************************
Base Styles
**************************************/
* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif; }

img {
  width: 100%; }

a:link {
  color: darkturquoise;
  transition-duration: .3s;
  transition-property: color;
  text-decoration: none; }

a:active {
  color: darkturquoise; }

a:visited {
  color: darkturquoise; }

a:hover {
  color: pink; }

/**************************************
Container Styles
**************************************/
#wrap {
  min-height: calc(100vh - 35px);
  /* (makes footer sticky) */ }

#main-nav {
  margin: 0;
  padding: 0;
  font-size: 1.2rem; }

#main-container {
  max-width: 900px; }

#page-title {
  background-color: pink;
  border-radius: 15px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  text-shadow: 0px 1px 0px #ffe6ee; }

#jumbo-about {
  background-image: url("../img/aboutme.jpg"); }

#showcase {
  margin: 1rem 0;
  margin-bottom: 0;
  font-size: .8rem; }

#showcase .portfolio-example {
  position: relative;
  display: inline-block;
  margin: 0 0 1rem 0;
  padding: 0;
  vertical-align: top;
  transition-duration: 1s;
  transition-property: background-color; }

#showcase .portfolio-example:hover {
  background-color: black; }

.portfolio-example span {
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  line-height: 1.5rem;
  background-color: black;
  padding: .5rem;
  margin: 0;
  font-size: .8rem; }

/**************************************
Footer Styles
**************************************/
#main-footer {
  background-color: black;
  padding: .5rem 0;
  color: white;
  font-size: .8em;
  text-align: center; }

/**************************************
Header
**************************************/
#main-header {
  background-color: darkturquoise;
  text-align: center; }

/**************************************
Utilities
**************************************/
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.large-screen {
  display: none; }

/**************************************
Typography Styles
**************************************/
h1.name {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 5rem;
  text-shadow: 1px 1px 0px pink; }

h1.name span.last-initial {
  text-shadow: 1px 1px 0px black; }

h1.name span.description {
  text-shadow: none; }

h1.name span:nth-child(2) {
  color: pink;
  margin-left: -2rem; }

/* Credit -
Thanks to CSS Tricks - I wanted to create a line break in the h1
and I got an idea based on this article:
https://css-tricks.com/injecting-line-break/; */
h1.name span:nth-child(3) {
  display: block;
  font-size: 1rem;
  font-weight: normal;
  margin-top: -.5rem; }

#page-title h2 {
  font-size: 1.5rem;
  margin: .7rem 0 .3rem 0;
  padding: 3px 0; }

#jumbo-about p {
  color: white;
  text-shadow: 1px 1px 0 black;
  font-size: 1.5rem; }

.portfolio-example-description,
#home,
#about,
#contact {
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.4rem; }

#contact {
  text-align: center; }

.bio {
  text-align: center; }

.features {
  font-weight: bold; }

.contact-email {
  text-align: center;
  font-size: 1.3rem; }

/**************************************
Image Styles
**************************************/
#showcase .portfolio-example img {
  /*
  Credit - Thanks to ConorLudy at
  http://stackoverflow.com/questions/12980153/image-moves-on-hover-chrome-opacity-issue
  for the below code. My image had been jumping on hover, but no longer.
  */
  transform: translate3d(0px, 0px, 0px);
  opacity: 1;
  transition-duration: 1s;
  float: left; }

#showcase .portfolio-example img:hover {
  opacity: .5; }

.portfolio-example-image img {
  margin-top: .6rem; }

.bio img {
  width: 50%;
  max-width: 160px;
  border-radius: 50%;
  border: 4px solid lightgrey;
  margin-bottom: 1rem; }

/**************************************
Link Styles
**************************************/
#main-header a span.first-initial,
#main-header a span.description {
  color: black; }

#main-header a:link span.first-initial,
#main-header a span.description {
  color: black; }

#main-header a:active span.first-initial,
#main-header a span.description {
  color: black; }

#main-header a:visited span.first-initial,
#main-header a span.description {
  color: black; }

#main-header a:hover span.first-initial,
#main-header a span.description {
  color: black; }

#main-header a span.last-initial {
  color: pink; }

#main-header a:link span.last-initial {
  color: pink; }

#main-header a:active span.last-initial {
  color: pink; }

#main-header a:visited span.last-initial {
  color: pink; }

#main-header a:hover span.last-initial {
  color: pink; }

#main-nav a {
  display: block;
  padding: .2rem .7rem;
  color: black;
  text-decoration: none;
  transition-duration: .3s;
  transition-property: opacity, color; }

#main-gray a:active {
  color: pink; }

#main-nav a:hover {
  color: white; }

#main-nav li.active a {
  color: white; }

#showcase .portfolio-example a {
  color: white;
  transition-duration: 1s; }

#showcase .portfolio-example a span:hover {
  color: darkturquoise;
  transition-duration: 1s; }

#main-footer a:link {
  text-decoration: none;
  color: white;
  transition-duration: .3s;
  transition-property: color; }

#main-footer a:active {
  color: white; }

#main-footer a:visited {
  color: white; }

#main-footer a:hover {
  color: pink; }

/**************************************
List Styles
**************************************/
#main-nav li {
  list-style: none;
  display: inline-block;
  margin: 0;
  margin-bottom: .5rem; }

#main-footer ul {
  margin: 0;
  padding: 0;
  text-decoration: none; }

#main-footer ul li {
  display: inline-block;
  padding: 0 1em; }

/*# sourceMappingURL=application.css.map */
