<nav>
  <ul id="main-nav">
    <li{% if page.title == 'Home' %} class="active"{% endif %}><a href="/">Home</a></li>
    <li{% if page.title == 'Portfolio' %} class="active"{% endif %}><a href="/portfolio/">Portfolio</a></li>
    <li{% if page.title == 'Content Writing' %} class="active"{% endif %}><a href="/content-writing/">Content Writing</a></li>
    <li{% if page.title == 'About' %} class="active"{% endif %}><a href="/about/">About</a></li>
    <li{% if page.title == 'Contact' %} class="active"{% endif %}><a href="/contact/">Contact</a></li>
  </ul>
</nav>
