/**************************************
Footer Styles
**************************************/

#main-footer {
	background-color: black;
	padding: .5rem 0;
	color: white;
	font-size: .8em;
	text-align: center;
}
