/**************************************
Footer Styles
**************************************/

#main-footer {
	background-color: black;
	padding: .5rem 0;
	color: white;
	font-size: .8em;
	text-align: center;
}

#main-footer ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

#main-footer ul li {
	display: inline-block;
	padding: 0 1em;
}

#main-footer a:link {
	text-decoration: none;
	color: #efefef;
	transition-duration: .3s;
	transition-property: color;
}

#main-footer a:active {
	color: #efefef;
}

#main-footer a:visited {
	color: #efefef;
}

#main-footer a:hover {
	color: pink;
}

#site-tech {
	color: #666;
	font-size: .8rem;
}

#main-footer #site-tech li {
	padding: 0 .5em;
}

#site-tech a,
#site-tech a:link,
#site-tech a:active,
#site-tech a:visited { color: #888; text-decoration: none; }
#site-tech a:hover { color: #ccc; }
