/**************************************
Link Styles
**************************************/

#main-header a span.first-initial,
#main-header a span.description {color: black;}
#main-header a:link span.first-initial,
#main-header a span.description {color: black;}
#main-header a:active span.first-initial,
#main-header a span.description {color: black;}
#main-header a:visited span.first-initial,
#main-header a span.description {color: black;}
#main-header a:hover span.first-initial,
#main-header a span.description {color: black;}

#main-header a span.last-initial {color: pink;}
#main-header a:link span.last-initial {color: pink;}
#main-header a:active span.last-initial {color: pink;}
#main-header a:visited span.last-initial {color: pink;}
#main-header a:hover span.last-initial {color: pink;}

#main-nav a {
	display: block;
	padding: .2rem .7rem;
	color: black;
	text-decoration: none;
	transition-duration: .3s;
	transition-property: opacity, color;
}

#main-gray a:active {
	color: pink;
}

#main-nav a:hover {
	color: white;
}

#main-nav li.active {
	background-color: #00b0b3;
	border-radius: 5px;
}

#main-nav li.active a {
	color: white;
}

#showcase .portfolio-example a {
	color: white;
	transition-duration: 1s;
}

#showcase .portfolio-example a span:hover {
	color: darkturquoise;
	transition-duration: 1s;
}

#main-footer a:link {
	text-decoration: none;
	color: white;
	transition-duration: .3s;
	transition-property: color;
}

#main-footer a:active {
	color: white;
}

#main-footer a:visited {
	color: white;
}

#main-footer a:hover {
	color: pink;
}
