/**************************************
Typography Styles
**************************************/

h1.name {
	margin: 0;
	margin-bottom: 1rem;
	font-size: 5rem;
	text-shadow: 1px 1px 0px pink;
}

h1.name span.last-initial {
	text-shadow: 1px 1px 0px black;
}

h1.name span.description {
	text-shadow: none;
}

h1.name span:nth-child(2) {
	color: pink;
	margin-left: -2rem;
}

/* Credit -
Thanks to CSS Tricks - I wanted to create a line break in the h1
and I got an idea based on this article:
https://css-tricks.com/injecting-line-break/; */
h1.name span:nth-child(3) {
	display: block;
	font-size: 1rem;
	font-weight: normal;
	margin-top: -.5rem;
}

#page-title h2 {
	font-size: 1.5rem;
	margin: .7rem 0 .3rem 0;
	padding: 3px 0;
}

#jumbo-about p {
	color: white;
	text-shadow: 1px 1px 0 black;
	font-size: 1.5rem;
}

.portfolio-example-description,
#home,
#about,
#contact {
	padding: 1rem;
	font-size: 1rem;
	line-height: 1.4rem;
}

#contact {
	text-align: center;
}

.bio {
	text-align: center;
}

.features {
	font-weight: bold;
}

.contact-email {
	text-align: center;
	font-size: 1.3rem;
}
